Source: pg-rewrite
Section: database
Priority: optional
Maintainer: CYBERTEC PostgreSQL <office@cybertec.at>
Uploaders:
 Christoph Berg <myon@debian.org>,
Build-Depends:
 debhelper-compat (= 13),
 postgresql-all (>= 217~),
Standards-Version: 4.6.2
Rules-Requires-Root: no
Homepage: https://www.cybertec-postgresql.com/en/
Vcs-Browser: https://github.com/cybertec-postgresql/pg_rewrite
Vcs-Git: https://github.com/cybertec-postgresql/pg_rewrite.git

Package: postgresql-15-rewrite
Architecture: any
Depends:
 ${misc:Depends},
 ${postgresql:Depends},
 ${shlibs:Depends},
Description: Perform maintenance tasks which require a table to be rewritten
 pg_rewrite aims to be a set of tools to perform maintenance tasks which
 require a table to be rewritten (i.e. the table data to be copied to a new
 storage) and which are expected to limit the access to the table as little as
 possible.
